.container {
  /* max-width: 36rem; */
  /* padding: 0 0 1rem; */
  /* margin: 0rem 6rem; */
  background-color: #F1F1F1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: #8A5E5F;
  color: #fff;
}

.main_container {
  margin: 0 auto;
  /* 1rem=18px  */
  /* max-width: 36rem; */
  /* max-width: 600px; */
}

.backToHome {
  margin: 3rem 0 0;
}
